.filters {
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: none;
    position:relative;
    border-radius: 4px;
    vertical-align: 30px;
    right: 30px;
    color: #FFFFFF;
}

button:hover {
    opacity: 90%;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-left: -15%;
    display: inline-block;
}

.locations {
    border-right: 1px solid #DDDDDD;
    margin-left: 5%;
}

h3 {
    font-weight: 600;
    color: black;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-top: -8%;
}

h2 {
    font-size: 16px;
}

.popover {
    display: none;
    position:relative;
    margin: 1.3% 0% 0% -20.5%;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 16px;
    list-style: none;
    background: #fafafa;
    color: #000000;
    border: #DDDDDD solid 1px;
    width: 104%;
    height: max-content;
}

.locations:hover .popover,
.amenities:hover .popover{
    display: inline-block; 
}

li {
    border-spacing: 0;
}